@import url(reset.css);
@import url(navbar.css);
.image--profile {
  border-radius: 100%;
  width: 100%;
  max-width: 500px;
}

.div__image--profile {
  border: 0px;
  display: flex;
  justify-content: center;
  padding: 0px 40px 0px 40px;
  margin: 5rem 0px 0px 0px;
}

.div__image--profile figure .company {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.div__image--profile figure .company::before {
  display: inline-block;
  content: ' ';
  background-image: url(/img/building-solid.svg);
  background-size: 1.3rem 1.3rem;
  height: 1.3rem;
  width: 1.3rem;
}

.div__image--profile figure figcaption {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 30px 0px 0px 0px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__gh--projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section__gh--projects .wrapper {
  height: 80vh;
}

.section__gh--projects h1 {
  padding: 40px 0px 40px 0px;
  font-size: 2rem;
  left: 1px;
  font-weight: 600;
}

.section__gh--projects li {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.section__gh--projects li a {
  text-decoration: none;
  color: #FA868E;
}

.section__main {
  height: 100vh;
  background-color: #FCDCDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section__main .div__footer--profile {
  font-size: 1.5rem;
  line-height: 2rem;
}

.section__main .div__footer--profile h1 {
  font-size: 1.3rem;
  padding: 30px 0px;
}

body {
  font-family: 'Tajawal', sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

html header {
  position: fixed;
}
