@import url(reset.css);
@import url(navbar.css);
.image--profile {
  border-radius: 100%;
  width: 30%;
  max-width: 200px;
}

.div__image--profile {
  border: 0px;
  display: flex;
  justify-content: center;
}

.section__gh--projects {
  display: flex;
  justify-content: center;
}

.section__main {
  height: 100vh;
  background-color: #FCDCDE;
}

body {
  font-family: 'Tajawal', sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
