$color-primary-0: #2EBEAF;	// Main Primary color */
$color-primary-1: #B3CDCA;
$color-primary-2: #5FB1A9;
$color-primary-3: #00E2CA;
$color-primary-4: #00AE9C;

$color-secondary-1-0: #FFBB3E;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF4DF;
$color-secondary-1-2: #FFD589;
$color-secondary-1-3: #FFA500;
$color-secondary-1-4: #FFA500;

$color-secondary-2-0: #FB3C4A;	// Main Secondary color (2) */
$color-secondary-2-1: #FCDCDE;
$color-secondary-2-2: #FA868E;
$color-secondary-2-3: #FD0013;
$color-secondary-2-4: #FA0012;