@import 'colors.scss';

@import url(reset.css);
@import url(navbar.css);


.image--profile {
  border-radius: 100%;
  width: 100%;
  max-width: 500px;
}

.div__image--profile {
  border: 0px;
  display: flex;
  justify-content: center;
  padding: 0px 40px 0px 40px;
  margin: 5rem 0px 0px 0px;

  figure {
    .company {
      font-size: 1.3rem;
      line-height: 2.5rem;

      &::before {
        display: inline-block;
        content: ' ';
        background-image: url(/img/building-solid.svg);
        background-size: 1.3rem 1.3rem;
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    figcaption {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 30px 0px 0px 0px;
    }
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__gh--projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .wrapper {
    height: 80vh;
  }
  h1 {
    padding: 40px 0px 40px 0px;
    font-size: 2rem;
    left: 1px;
    font-weight: 600;
  }
  li {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  li a {
    text-decoration: none;
    color: $color-secondary-2-2;
  }
}

.section__resume {
  @extend .section__gh--projects;
  background-color: $color-primary-1;
  height: 130vh;
  pre {
    font-weight: 600;
    font-size: 1.1rem;
    white-space: pre-wrap;
  }
  .wrapper {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
  }
}

.section__main {
  height: 100vh;
  background-color: $color-secondary-2-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .div__footer--profile {
    font-size: 1.5rem;
    line-height: 2rem;
    h1 {
      font-size: 1.3rem;
      padding: 30px 0px;
      text-align: center;
    }
  }
}

body {
  font-family: 'Tajawal', sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  header {
    position: fixed;
  }
}